html {

}

body {
	margin: 0px;
	background-image: url('background.svg');
	background-color: rgb(180,180,180);
	background-blend-mode: overlay;
}

textarea {
	font-size: 13px;
	font-family: monospace;
}

#codeframe {
	background-color: rgb(200,200,200);
	height: 70vh;
	padding-top: 5px;
}

#runfile {
	margin: 3px 5px;
	cursor: pointer;
}

#codebox {
	height: calc(70vh - 45px);
	font-family: monospace;
}

.textbox {
	background-color: rgb(230,230,230);
	resize: none;
	overflow-x: hidden;
	width: 100%;
}

#varframe {
	background-color: rgb(130,130,130);
	cursor: default;
	height: 70vh;
}

#varbox {
	height: calc(70vh - 45px);
	font-family: monospace;
	font-size: 13px;
}

.varname {
	padding-right: 3em;
}

.unused {
	opacity: 0.5;
}

.var:hover {
	color: rgb(73,195,200);
}

#consoleframe {
	background-color: rgb(170,170,170);
	height: 15vh;
}

#consolebox {
	margin-top: 5px;
	height: calc(15vh - 10px);
}

#filebar {
	top: 4px;
	left: 55px;
	font-family: monospace;
}

.tab {
	min-width: 32px;
	height: 31px;
	background-color: rgb(220,220,220);
	cursor: pointer;
	text-align: center;
	padding: 4px;
	position: relative;
	display: inline-block;
	margin-right: 2px;
}

.tabfocused {
	cursor: default;
	background-color: rgb(230,230,230);
	height: 32px;
}

#newpage {
	width: 20px;
	min-width: 20px;
}