html {

}

body {
	margin: 0px;
}

div {
	position: absolute;
}

#header {
	background-color: rgb(100,100,100);
	width: 100vw;
	height: 100px;
}

#container {
	top: 100px;
	width: 100vw;
	height: calc(100vh - 150px);
}

#codeframe {
	background-color: rgb(200,200,200);
	left: 0%;
	top: 0%;
	width: calc(100% - 300px);
	height: 75%;
}

.textbox {
	background-color: rgb(230,230,230);
	width: calc(100% - 16px);
	height: calc(100% - 16px);
	margin: 5px;
	resize: none;
}

#varframe {
	background-color: rgb(130,130,130);
	width: 300px;
	height: 75%;
	right: 0px;
	top: 0%;
	font-family: monospace;
	cursor: default;
}

.varname {
	padding-right: 3em;
}

.unused {
	opacity: 0.5;
}

.var:hover {
	color: rgb(73,195,200);
}

#consoleframe {
	background-color: rgb(170,170,170);
	width: 100vw;
	height: 25%;
	left: 0%;
	top: 75%;
}

#footer {
	background-color: rgb(100,100,100);
	bottom: 0px;
	height: 50px;
	width: 100vw;
}